<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Korra OS X.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Korra iOS Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Korra iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>770C85831CBCEF8100618B80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>770C85991CBCEFD800618B80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>770C85AF1CBCF00500618B80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78A6BBCA1ADCB5EE00554D13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
